[submodule "src/deps/sokol/sokol"]
	path = src/deps/sokol/sokol
	url = https://github.com/floooh/sokol.git
[submodule "src/deps/imgui/cimgui"]
	path = src/deps/imgui/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "src/deps/zip/zip"]
	path = src/deps/zip/zip
	url = https://github.com/kuba--/zip.git
